body {
    font-family: 'Montserrat', sans-serif!important;
    background-color: whitesmoke!important;
    font-weight: 300!important;
    font-size: 17px!important;
}

.site-footer {
    padding-bottom: 10px;
    padding-top: 10px;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.card {
    border: none!important;
    border-radius: 0!important;
    background-color: #fff!important;
    .card-header {
        border-color: whitesmoke!important;
        border-radius: 0!important;
        background-color: #fff!important;
    }
    .card-footer {
        border: none!important;
        border-radius: 0!important;
        background-color: #fff!important;
    }
}

.card-title {
    font-size: 40px;
    font-weight: 300;
    a {
        color: #333;
        &:hover {
            color: rgb(46, 180, 151);
            text-decoration: none;
        }
    }
}

.widget {
    .widget-title {
        font-size: 25px;
    }
    ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        li {
            position: relative;
            display: block;
            padding: .75rem 0;
            margin-bottom: -1px;
            background-color: #fff;
            a {
                color: #333;
                &:hover {
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }
}

.form-control {
    border-radius: 0!important;
}